body{
    padding: 0px;
    margin: 0px;
}
header{
    background-color: #C5FFF8;
    padding: 0;
    margin: 0;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}
header h1{
    color: #5FBDFF;
    letter-spacing: 0.3vw;
    /*-webkit-text-stroke-width: 0.1vh; 
    -webkit-text-stroke-color: #22A3FF;*/
    text-shadow: 0.12vw 0.22vh 0.2vh black;
    font-family: 'Roboto Slab', serif;
    font-size: 6vh;
    padding: 1.5vw;
    margin: 0;
}

/*three-line navigation*/
.nav {
    width: 2vw;
    padding: 0 3.5vw 0 4vw;
    display: block;
    transition: all 0.5s;
   -webkit-transition: all 0.5s;
}
.nav div{
    height: 0.62vh;
    background: #7B66FF;
    margin: 0.4vh 0vw 0.4vh 0vw;
    border-radius: 1.8vw;
    transition: all 0.5s;
   -webkit-transition: all 0.5s;
}
.q { 
    width: 1.5vw;
}
.s { 
    width: 2vw;
}
.nav:hover div { 
    width: 2vw;
}

/*body*/
#box{
    background-color: #C5FFF8;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 9vh 9vh 9vh 9vh 9.5vh 9.5vh 9.5vh 9.5vh ;
}

/*circular progress bar*/
.container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}
.circular-progress{
    position: relative;
    height: 30vh;
    width: 15.5vw;
    background-color: #C5FFF8;
    border-radius: 50%;
    display: grid;
    place-items: center;
    box-shadow: 0.6vw 0.6vw 0.3vw -0.2vw rgba(0, 0, 0, 0.15)
    , -0.6vw -0.6vw 0.3vw -0.2vw rgba(197,255,248,0.7);
    
}
.circular-progress:before{
    content: "";
    position: absolute;
    height: 25vh;
    width: 13vw;
    border-radius: 50%;
    background-color: #C5FFF8;
    box-shadow: inset 0.4vw 0.4vw 0.2vw -0.2vw rgba(0, 0, 0, 0.2)
    , inset -0.4vw -0.4vw 0.2vw -0.2vw rgba(197,255,248,0.7)
    , -0.05vw -0.05vw 0vw rgba(197,255,248, 1)
    , 0.05vw 0.05vw 0vw rgba(0, 0, 0, 0.15)
    , 0vw 0.8vw 0.3vw -0.2vw rgba(0, 0, 0, 0.05);
}
.value-container{
    position: relative;
    font-family: 'Ubuntu', sans-serif;
    color: #1432dd;
    font-size: 6vh;
}

/*remaining classes to attend*/
.remainingClasses{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    background-color: #27a5ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Ubuntu', sans-serif;
    padding: 1vw;
    border-radius: 3vh;
    margin: 3vh 7vw 4vh 5vw;
    box-shadow: 0.6vw 0.6vw 0.3vw -0.2vw rgba(0, 0, 0, 0.5);
}
.welcome{
    font-size: 5vh;
    color: #C5FFF8 ;
}
.attendancePercent{
    font-size: 3vh;
    color: #C5FFF8;
}
.classes{
    font-size: 3vh;
    color: #C5FFF8;
}

/*cs horizontal progress bar*/
.CSContainer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    padding: 0.5vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.progressCS{
    background-color: #C5FFF8;
    border-radius: 2vh;
    height: 3vh;
    width: 50%;
    
}
.progressCS-done{
    border-radius: 2vh;
    height: 3vh;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(
        to left,
        #ff0000,
        #ff1d1d,
        #ff4040
    );
    box-shadow: 0 0.6vh 0.1vw -0.8vh #ff0000, 0 0.3vh 0.4vw #ff1d1d;
    transition: 2s ease 0.1s;
}
.CS{
    color: #7B66FF;
    font-size: 2.3vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 2rem;
    padding-right: 17vw;
    padding-left: 4vw;
}

/*communication horizontal progress bar*/
.commContainer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5vh;
}
.progressComm{
    background-color: #C5FFF8;
    border-radius: 2vh;
    height: 3vh;
    width: 50%;
}
.progressComm-done{
    border-radius: 2vh;
    height: 3vh;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(
        to left,
        #0546e0,
        #1172f9,
        #4892f9
    );
    box-shadow: 0 0.6vh 0.1vw -0.8vh #0546e0, 0 0.3vh 0.4vw #1172f9;
    transition: 2s ease 0.1s;
}
.comm{
    color: #7B66FF;
    font-size: 2.3vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 2rem;
    padding-right: 3.3vw;
    padding-left: 4vw;
}

/*graphics horizontal progress bar*/
.graphicsContainer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5vh;
}
.progressGraphics{
    background-color: #C5FFF8;
    border-radius: 2vh;
    height: 3vh;
    width: 50%;
}
.progressGraphics-done{
    border-radius: 2vh;
    height: 3vh;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(
        to left,
        #00ff4c,
        #2fff6e,
        #4eff83
    );
    box-shadow: 0 0.6vh 0.1vw -0.8vh #00ff4c, 0 0.3vh 0.4vw #2fff6e;
    transition: 2s ease 0.1s;
}
.graphics{
    color: #7B66FF;
    font-size: 2.3vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 2rem;
    padding-right: 10.7vw;
    padding-left: 4vw;
}

/*maths horizontal progress bar*/
.mathContainer{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5vh;
}
.progressMath{
    background-color: #C5FFF8;
    border-radius: 2vh;
    height: 3vh;
    width: 50%;
}
.progressMath-done{
    border-radius: 2vh;
    height: 3vh;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: repeating-linear-gradient(
        to left,
        #fffb00,
        #fffc34,
        #fffc64
    );
    box-shadow: 0 0.6vh 0.1vw -0.8vh #fffb00, 0 0.3vh 0.4vw #fffc34;
    transition: 2s ease 0.1s;
}
.math{
    color: #7B66FF;
    font-size: 2.3vw;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 2rem;
    padding-right: 13.2vw;
    padding-left: 4vw;
}

/*footer*/
footer{
    background-color: #7B66FF;
    display: grid;
    height: 8.9vh;
    padding: 1vw;
    grid-template-columns: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.12%;
    grid-template-rows: 4vh 2vh;
    
}
footer a{
    text-decoration: none;
}
footer .git{
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
}
footer .in{
    grid-column: span 1;
    display: flex;
    justify-content: center;
}
footer .ig{
    grid-column: span 1;
    display: flex;
    justify-content: center;
}
footer .fa-github{
    font-size: 2.3vw;
    color: #C5FFF8;
}
footer .fa-linkedin{
    font-size: 2.3vw;
    color: #C5FFF8;
}
footer .fa-instagram{
    font-size: 2.3vw;
    color: #C5FFF8;
}
footer p{
    grid-row-start: 2;
    grid-column-start:4 ;
    grid-column-end:7 ;
    color: #C5FFF8;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1vw;
    display: flex;
    justify-content: center;
}

