body{
    padding: 0px;
    margin: 0px;
}
header{
    padding: 0px;
    margin: 0px;
    width: 100%;
    background-color: rgba(100, 0, 0, 0.5); 
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}
header h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    padding: 5px;
    margin: 0px;
    background-color: bisque;
}
#data{
    position: relative;
    left: 0px;
    background-color: green;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.5rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 3rem;
}
.nav {
    width: 30px;
    display: block;
    margin: 0px auto;
    transition: all 0.5s;
   -webkit-transition: all 0.5s;
}
.nav div{
    height: 5px;
    background: black;
    margin: 5px 0px 5px 0px;
    border-radius: 25px;
    transition: all 0.5s;
   -webkit-transition: all 0.5s;
}
.q { 
    width: 21px;
}
.s { 
    width: 30px;
}
.nav:hover div { 
    width: 30px;
}
form{
    padding: 2rem;
    background-color: turquoise;
    border: 5px solid black;
    border-radius: 0.6rem;
}
input[type=number], input[type=text]{
    background-color: blanchedalmond;
    height: 1.5rem;
    border-radius: 0.5rem;
    padding:0.2rem;
}
input[type=number]:focus, input[type=text]:focus{
    border:solid red;

}
input[type=submit]{
    height:2.5rem;
    width: fit-content;
    padding: 0.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 1.5rem;
    background-color: aqua;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.1rem inset;
}
input[type=submit]:hover{
    background-color: rgba(0,255,255,0) ;
}
footer{
    display: grid;
    height: 5rem;
    padding: 2rem;
    background-color: rgb(160, 135, 226);
    grid-template-columns: 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.11% 11.12%;
    grid-template-rows: 3.5rem 1.5rem;
    
}
footer .git{
    grid-column-start: 4;
    grid-column-end: 5;
    display: flex;
    justify-content: center;
}
footer .in{
    grid-column: span 1;
    display: flex;
    justify-content: center;
}
footer .ig{
    grid-column: span 1;
    display: flex;
    justify-content: center;
}
footer .git img{
    height: 2vw;
    width: 2vw;
}
footer .in img{
    height: 2vw;
    width: 2vw;
}
footer .ig img{
    height: 2vw;
    width: 2vw;
}
footer p{
    grid-row-start: 2;
    grid-column-start:4 ;
    grid-column-end:7 ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}